{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-headerLinkArea">
    <div class="ec-headerLink__list">
        {% if is_granted('ROLE_USER') %}
            {% if BaseInfo.option_favorite_product %}
                <a class="ec-headerLink__item" href="{{ url('mypage_favorite') }}">
                    <div class="ec-headerLink__icon">
                      <svg>
                        <use xlink:href="#ico_heart" />
                      </svg>
                    </div>
                    <span>{{ 'お気に入り'|trans }}</span>
                </a>
            {% endif %}
            <a class="ec-headerLink__item" href="{{ url('logout') }}">
                <div class="ec-headerLink__icon">
                  <svg>
                    <use xlink:href="#ico_logout" />
                  </svg>
                </div>
                <span>{{ 'ログアウト'|trans }}</span>
            </a>
            <a class="ec-headerLink__item" href="{{ url('mypage') }}">
                <div class="ec-headerLink__icon">
                  <svg>
                    <use xlink:href="#ico_user" />
                  </svg>
                </div>
                <span>{{ 'マイページ'|trans }}</span>
            </a>
        {% else %}
            {% if BaseInfo.option_favorite_product %}
                <a class="ec-headerLink__item" href="{{ url('mypage_favorite') }}">
                    <div class="ec-headerLink__icon">
                      <svg>
                        <use xlink:href="#ico_heart" />
                      </svg>
                    </div>
                    <span>{{ 'お気に入り'|trans }}</span>
                </a>
            {% endif %}
            <a class="ec-headerLink__item" href="{{ url('mypage_login') }}">
                <div class="ec-headerLink__icon">
                  <svg>
                    <use xlink:href="#ico_login" />
                  </svg>
                </div>
                <span>{{ 'ログイン'|trans }}</span>
            </a>
            <a class="ec-headerLink__item" href="{{ url('entry') }}">
                <div class="ec-headerLink__icon">
                  <svg>
                    <use xlink:href="#ico_user" />
                  </svg>
                </div>
                <span>{{ '新規会員登録'|trans }}</span>
            </a>
        {% endif %}
    </div>
</div>
