{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-headerRole">
  <div class="ec-headerRole__title">
    <div class="ec-headerTitle">
      <p class="ec-headerTitle__subtitle">木製家具のインテリア雑貨通販</p>
      <h1 class="ec-headerTitle__title">
        <a href="{{ url('homepage') }}">
          <img src="{{ asset('assets/img/common/logo.png') }}">
        </a>
      </h1>
    </div>
  </div>
  <div class="ec-headerRole__navigation">
    <ul class="ec-headerNavigation">
      <li><a href="{{ url('homepage') }}">ホーム</a></li>
      <li><a href="{{ url('product_list') }}">商品一覧</a></li>
      <li><a href="{{ url('help_about') }}">当サイトについて</a></li>
      <li><a href="{{ url('help_guide') }}">ご利用ガイド</a></li>
      <li><a href="{{ url('contact') }}">お問い合わせ</a></li>
    </ul>
  </div>
</div>
