{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<!-- トピックブロック[BEGIN] -->
<!--▼人気商品ランキング　※トピックブロックにあります▼-->
<div class="ec-rankingRole">
    <h3 class="ec-rankingRole__title">
        <img src="{{ asset('assets/img/top/tit_ranking.svg') }}">
    </h3>
    <ol class="ec-rankingRole__list">
        <li class="ec-rankingRole__listItem">
            <!--ランキング１位-->
            <h4 class="ec-rankingRole__itemRank">
                <img src="{{ asset('assets/img/top/ico_ranking01.svg') }}">
            </h4>
            <a href="#">
                <div class="ec-rankingRole__itemPhoto"><img src="{{ asset('assets/img/top/ranking_01.jpg') }}"></div>
                <dl>
                    <dt class="ec-rankingRole__itemName">テーブル</dt>
                    <dd class="ec-rankingRole__itemPrice">&yen;16,200</dd>
                </dl>
            </a>
        </li>
        <li class="ec-rankingRole__listItem">
            <!--ランキング2位-->
            <h4 class="ec-rankingRole__itemRank">
                <img src="{{ asset('assets/img/top/ico_ranking02.svg') }}">
            </h4>
            <a href="#">
                <div class="ec-rankingRole__itemPhoto"><img src="{{ asset('assets/img/top/ranking_02.jpg') }}"></div>
                <dl>
                    <dt class="ec-rankingRole__itemName">オブジェ（ふくろう）</dt>
                    <dd class="ec-rankingRole__itemPrice">&yen; 1,785</dd>
                </dl>
            </a>
        </li>
        <li class="ec-rankingRole__listItem">
            <!--ランキング3位-->
            <h4 class="ec-rankingRole__itemRank">
                <img src="{{ asset('assets/img/top/ico_ranking03.svg') }}">
            </h4>
            <a href="#">
                <div class="ec-rankingRole__itemPhoto"><img src="{{ asset('assets/img/top/ranking_03.jpg') }}"></div>
                <dl>
                    <dt class="ec-rankingRole__itemName">オブジェ（ふくろう）</dt>
                    <dd class="ec-rankingRole__itemPrice">&yen; 1,785</dd>
                </dl>
            </a>
        </li>
        <li class="ec-rankingRole__listItem">
            <!--ランキング4位-->
            <h4 class="ec-rankingRole__itemRank">
                <img src="{{ asset('assets/img/top/ico_ranking04.svg') }}">
            </h4>
            <a href="#">
                <div class="ec-rankingRole__itemPhoto"><img src="{{ asset('assets/img/top/ranking_04.jpg') }}"></div>
                <dl>
                    <dt class="ec-rankingRole__itemName">カラーチェスト</dt>
                    <dd class="ec-rankingRole__itemPrice">&yen;7,980</dd>
                </dl>
            </a>
        </li>
        <li class="ec-rankingRole__listItem">
            <!--ランキング5位-->
            <h4 class="ec-rankingRole__itemRank">
                <img src="{{ asset('assets/img/top/ico_ranking05.svg') }}">
            </h4>
            <a href="#">
                <div class="ec-rankingRole__itemPhoto"><img src="{{ asset('assets/img/top/ranking_05.jpg') }}"></div>
                <dl>
                    <dt class="ec-rankingRole__itemName">テーブル</dt>
                    <dd class="ec-rankingRole__itemPrice">&yen;16,200</dd>
                </dl>
            </a>
        </li>
        <li class="ec-rankingRole__listItem">
            <!--ランキング6位-->
            <h4 class="ec-rankingRole__itemRank">
                <img src="{{ asset('assets/img/top/ico_ranking06.svg') }}">
            </h4>
            <a href="#">
                <div class="ec-rankingRole__itemPhoto"><img src="{{ asset('assets/img/top/ranking_06.jpg') }}"></div>
                <dl>
                    <dt class="ec-rankingRole__itemName">カラーチェスト</dt>
                    <dd class="ec-rankingRole__itemPrice">&yen;7,980</dd>
                </dl>
            </a>
        </li>
        <li class="ec-rankingRole__listItem">
            <!--ランキング7位-->
            <h4 class="ec-rankingRole__itemRank">
                <img src="{{ asset('assets/img/top/ico_ranking07.svg') }}">
            </h4>
            <a href="#">
                <div class="ec-rankingRole__itemPhoto"><img src="{{ asset('assets/img/top/ranking_07.jpg') }}"></div>
                <dl>
                    <dt class="ec-rankingRole__itemName">スタンドライト</dt>
                    <dd class="ec-rankingRole__itemPrice">&yen;7,700</dd>
                </dl>
            </a>
        </li>
        <li class="ec-rankingRole__listItem">
            <!--ランキング8位-->
            <dt class="ec-rankingRole__itemRank">
                <img src="{{ asset('assets/img/top/ico_ranking08.svg') }}">
            </dt>
            <a href="#">
                <div class="ec-rankingRole__itemPhoto"><img src="{{ asset('assets/img/top/ranking_08.jpg') }}"></div>
                <dl>
                    <dt class="ec-rankingRole__itemName">カラーチェスト</dt>
                    <dd class="ec-rankingRole__itemPrice">&yen;7,980</dd>
                </dl>
            </a>
        </li>
        <li class="ec-rankingRole__listItem">
            <!--ランキング9位-->
            <dt class="ec-rankingRole__itemRank">
                <img src="{{ asset('assets/img/top/ico_ranking09.svg') }}">
            </dt>
            <a href="#">
                <div class="ec-rankingRole__itemPhoto"><img src="{{ asset('assets/img/top/ranking_09.jpg') }}"></div>
                <dl>
                    <dt class="ec-rankingRole__itemName">クッション</dt>
                    <dd class="ec-rankingRole__itemPrice">&yen;1,200</dd>
                </dl>
            </a>
        </li>
        <li class="ec-rankingRole__listItem">
            <!--ランキング10位-->
            <dt class="ec-rankingRole__itemRank">
                <img src="{{ asset('assets/img/top/ico_ranking10.svg') }}">
            </dt>
            <a href="#">
                <div class="ec-rankingRole__itemPhoto"><img src="{{ asset('assets/img/top/ranking_10.jpg') }}"></div>
                <dl>
                    <dt class="ec-rankingRole__itemName">テーブル</dt>
                    <dd class="ec-rankingRole__itemPrice">&yen;16,200</dd>
                </dl>
            </a>
        </li>
    </ol>
</div>
<!--▲人気商品ランキング　※トピックブロックにあります▲-->

<!--▼ピックアップ　※トピックブロックにあります▼-->
<div class="ec-pickupRole">
  <div class="ec-pickupRole__wrapper">
    <h3 class="ec-pickupRole__title">
      <img src="{{ asset('assets/img/top/tit_pick_up.svg') }}">
    </h3>
    <div class="ec-pickupRole__list">
      <ul class="col-sm-4 col-xs-12">
        <li>
          <a href="{{ url('product_detail', {id: 2}) }}">
            <img src="{{ asset('assets/img/top/pick_up_01.jpg') }}">
          </a>
        </li>
        <li>
          <a href="{{ url('product_detail', {id: 2}) }}">
            <img src="{{ asset('assets/img/top/pick_up_02.jpg') }}">
          </a>
        </li>
      </ul>
      <ul class="col-sm-4 col-xs-12">
        <li class="col-sm-6 col-xs-6">
          <a href="{{ url('product_detail', {id: 2}) }}">
            <img src="{{ asset('assets/img/top/pick_up_03.jpg') }}">
          </a>
        </li>
        <li class="col-sm-6 col-xs-6 floatRight">
          <a href="{{ url('product_detail', {id: 2}) }}">
            <img src="{{ asset('assets/img/top/pick_up_04.jpg') }}">
          </a>
        </li>
        <li class="col-sm-12 col-xs-12">
          <a href="{{ url('product_detail', {id: 2}) }}">
            <img src="{{ asset('assets/img/top/pick_up_05.jpg') }}">
          </a>
        </li>
      </ul>
      <ul class="col-sm-4 col-xs-12">
        <li>
          <a href="{{ url('product_detail', {id: 2}) }}">
            <img src="{{ asset('assets/img/top/pick_up_06.jpg') }}">
          </a>
        </li>
        <li>
          <a href="{{ url('product_detail', {id: 2}) }}">
            <img src="{{ asset('assets/img/top/pick_up_07.jpg') }}">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--▲ピックアップ　※トピックブロックにあります▲-->
<!-- トピックブロック[END] -->
